.pantalla{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.menu{
	display: flex;
	flex-direction: row;
}
.izq{
	display: flex;
	justify-content: flex-end;
}

.MyBag{
	display: flex;
	flex-direction: column;

}

.modelo{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 150px;
}
.info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.img{
	height: 130px;
	width: 150px;
	background: gray;
	border-radius: 5px black;
}

.boton{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	width: 450px;
	height: 40px;
	color:white;
	border-radius: 20px;
}

.cant{
	display: flex;
	color: gray;
	align-items: flex-end;
}

.total{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.tot{
	color: gray;
}